/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #f4f4f9;
  --text-color: #333;
  --navbar-color: #5856d6;
  --navbar-text-color: #fff;
  --container-bg-color: #fff;
  --container-text-color: #333;
  --button-bg-color: #5856d6;
  --button-hover-bg-color: #4943b1;
  --button-text-color: #fff;
  --select-bg-color: #fff;
  --select-border-color: #ccc;
}

html, body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  height: 100%;
  margin: 0;
}

/* App layout */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar styles */
.navbar {
  width: 100%;
  background-color: var(--navbar-color);
  color: var(--navbar-text-color);
  padding: 15px 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 12px 12px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 50px;
}

.logo-container h1 {
  font-size: 1.75rem;
  margin-left: 12px;
}

/* Main content styles */
.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  gap: 20px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column;
    overflow: auto;
  }
}

/* Left section styles */
.left-section {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/* Right section styles */
.right-section {
  flex: 1 1 75%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/* Responsive for sections */
@media screen and (max-width: 768px) {
  .left-section,
  .right-section {
    flex: 1 1 100%;
    overflow: visible;
  }
}

/* Chemical section styles */
.chemical-section, 
.form-section, 
.table-information-section,
.results-section,
.temperature-section {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  background-color: var(--container-bg-color);
  color: var(--container-text-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.chemical-section {
  text-align: center;
}

/* Form section styles */
.form-container {
  display: flex;
  flex-direction: column;
}

.form-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.add-increment-form {
  display: flex;
  flex-direction: column;
}

.add-increment-form-inputs {
  display: flex;
  flex-direction: column;
}

.add-increment-form label {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.add-increment-form select {
  padding: 12px;
  font-size: 1rem;
  margin-bottom: 20px;
  background-color: var(--select-bg-color);
  border: 1px solid var(--select-border-color);
  border-radius: 8px;
}

.add-increment-form-inputs input {
  padding: 12px;
  font-size: 1rem;
  margin-bottom: 20px;
  background-color: var(--select-bg-color);
  border: 1px solid var(--select-border-color);
  border-radius: 8px;
}

.add-increment-form button {
  padding: 12px 18px;
  font-size: 1.1rem;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
}

.add-increment-form button:hover {
  background-color: var(--button-hover-bg-color);
  transform: scale(1.05);
}

.add-increment-form-inputs button {
  padding: 12px 18px;
  font-size: 1.1rem;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
}

.add-increment-form-inputs button:hover {
  background-color: var(--button-hover-bg-color);
  transform: scale(1.05);
}


/* Table section styles */
.table-information-section {
  flex: 1;
  overflow: auto;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--container-bg-color);
}

.styled-table thead tr {
  background-color: var(--navbar-color);
  color: var(--navbar-text-color);
  text-align: left;
  font-weight: bold;
}

.styled-table th, .styled-table td {
  padding: 12px 15px;
  text-align: center;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--navbar-color);
}

.styled-table td, .styled-table th {
  border: 1px solid #e5e5e5;
}

/* Results section styles */
.results-section {
  width: 100%;
  padding: 20px;
  background-color: var(--container-bg-color);
  color: var(--container-text-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.results-section h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.results-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.results-container p {
  padding: 15px;
  background-color: var(--select-bg-color);
  border: 1px solid var(--select-border-color);
  border-radius: 8px;
  font-size: 1rem;
  color: var(--text-color);
}

.action-cell {
  padding: 5;
  color: 'red';
}
